<h2>Add Fest</h2>

<%= form_for @fest do |f| %>

<% if @fest.errors.any? %>
	<h3>These errors stopped the form from being saved : </h3>
	<ul>	
		<% @fest.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
	</ul>
<% end %>

<label>Name</label><br/>
<%= f.text_field :name %> 
<p id="nameError"> </p>
<br/>
<label>Description: </label><br/>
<%= f.text_area :description, rows: 10, cols: 25 %><br/>
<label>Start Date </label><br/>
<%= f.date_field :start_date %><br/>
<label>End Date </label><br/>
<%= f.date_field :end_date %><br/>

<%= f.submit %>
<% end %>
<a href="/fests">List Fests </a>

<script>
var nameHandle = document.getElementById('fest_name');
var nameErrorHandle = document.getElementById('nameError');
nameHandle.onblur = function(){
	if(nameHandle.value.length == 0){
		nameErrorHandle.innerHTML = " Can't be blank";
	} else {
		nameErrorHandle.innerHTML = "";
	}
};
</script>


